COMPETITION DATA

In [16]:
#Get the tennis COMPETITION data using sports radar api 
import requests
url = "https://api.sportradar.com/tennis/trial/v3/en/competitions.json?api_key=8VJ1pyztQfFytJ3kBZorxHmVXZbOlUXD8aAQsWX7"
headers = {"accept": "application/json"}
response = requests.get(url, headers=headers)

In [18]:
#convert json response to dictionary
import json
if response.status_code ==200: # Error handling
    formatted_response=response.json() # convert json response to dictionary
else:
    print(f"Error: {response.status_code} - {response.reason}") #error handling

In [19]:
#parse and exract the competition's list from the response
competitions=formatted_response.get("competitions",[]) #to store competitions list from the response into a new empty list

In [20]:
#Transform nested json structures into a falt relational schema
import pandas as pd
competition_dataframe=pd.json_normalize(competitions, sep="_") #to convert the list into table format using pandas normalization.Used seperator to join nested keys.
competition_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.
competition_dataframe=competition_dataframe.rename(columns={"id": "competition_id", "name": "competition_name"}) #renaming column names
categories_columns=['category_id','category_name']  #select required columns for table1-categories table
categories_table=competition_dataframe[categories_columns] #update the data frame with only the selected columns
competitions_columns=['competition_id','competition_name','parent_id','type','gender','category_id']  #select required columns for table2-categories table
competitions_table=competition_dataframe[competitions_columns]   #update the data frame with only the selected columns
#categories_table.to_csv("Table1_Categories.csv", index=False)  #convert dataframe into csv file.
#competitions_table.to_csv("Table2_Competitions.csv", index=False) #convert dataframe into csv file.
print(categories_table)

           category_id category_name
0      sr:category:181    Hopman Cup
1        sr:category:3           ATP
2       sr:category:72    Challenger
3        sr:category:6           WTA
4       sr:category:76     Davis Cup
...                ...           ...
5826  sr:category:2517     UTR Women
5827  sr:category:2517     UTR Women
5828  sr:category:2517     UTR Women
5829   sr:category:871      WTA 125K
5830   sr:category:871      WTA 125K

[5831 rows x 2 columns]

In [54]:
#Complete code for COMPETITION DATA using try-except
import requests
import json
import pandas as pd

#Get the tennis COMPETITION data using sports radar api
url = "https://api.sportradar.com/tennis/trial/v3/en/competitions.json?api_key=8VJ1pyztQfFytJ3kBZorxHmVXZbOlUXD8aAQsWX7"
headers = {"accept": "application/json"}
response = requests.get(url, headers=headers) 

try:
    if response.status_code ==200: # Error handling
        formatted_response=response.json() # convert json response to dictionary
        #parse and exract the competition's list from the response
        competitions=formatted_response.get("competitions",[]) #to store competitions list from the response into a new empty list 
        #Transform nested json structures into a falt relational schema
        competition_dataframe=pd.json_normalize(competitions, sep="_") #to convert the list into table format using pandas normalization.Used seperator to join nested keys.
        competition_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.
        competition_dataframe=competition_dataframe.rename(columns={"id": "competition_id", "name": "competition_name"}) #renaming column names
        categories_columns=['category_id','category_name']  #select required columns for table1-categories table
        categories_table=competition_dataframe[categories_columns] #update the data frame with only the selected columns
        competitions_columns=['competition_id','competition_name','parent_id','type','gender','category_id']  #select required columns for table2-categories table
        competitions_table=competition_dataframe[competitions_columns]   #update the data frame with only the selected columns
        categories_table.to_csv("Table1_Categories.csv", index=False)  #convert dataframe into csv file.
        competitions_table.to_csv("Table2_Competitions.csv", index=False) #convert dataframe into csv file.
    else:
        print(f"Error: {response.status_code} - {response.reason}") #error handling
        print(f"Error Details: {response.text}")
except requests.exceptions.RequestException as e:
    print(f"Error found: {e}")

COMPLEXES DATA

In [7]:
#Get the tennis COMPLEXES data using sports radar api
import requests
url = "https://api.sportradar.com/tennis/trial/v3/en/complexes.json?api_key=8VJ1pyztQfFytJ3kBZorxHmVXZbOlUXD8aAQsWX7"
headers = {"accept": "application/json"}
response = requests.get(url, headers=headers)

In [8]:
#convert json response to dictionary
import json
if response.status_code ==200: # Error handling
    formatted_complexes_response=response.json() # convert json response to dictionary
else:
    print(f"Error: {response.status_code} - {response.reason}") #error handling

In [9]:
#parse and exract the competition's list from the response
complexes_list=[]  #create an empty list to store the required values for Complexes Table
for complexes in formatted_complexes_response["complexes"]: #used for loop to access or to itrate over required values. Created a temp list and store the value
   temp_complexes_list={
       "complex_id":complexes.get("id"),
       "complex_name":complexes.get("name")
   }
   complexes_list.append(temp_complexes_list) #appending temp values to empty list

In [47]:
import pandas as pd
complexes_dataframe=pd.DataFrame(complexes_list) #to convert the list into table format using pandas dataframe.
complexes_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.

In [55]:
complexes_table=complexes_dataframe.to_csv("Table3_Complexes.csv", index=False) #convert dataframe into csv file.

In [43]:
complex_venue_list=[]  #create an empty list to store the required values for Complexes Table
for top_level_complex in formatted_complexes_response["complexes"]: ##used for loop to access or to itrate over required values. Created a temp list and store the value
    for venue in top_level_complex.get('venues', []):  #used nested for loop to access nested list
        temp_venue_list = {
            "venue_id": venue['id'],
            "venue_name": venue['name'],
            "city_name": venue['city_name'],
            "country_name": venue['country_name'],
            "country_code": venue['country_code'],
            "timezone": venue['timezone'],
            "complex_id": top_level_complex['id'],
        }
        complex_venue_list.append(temp_venue_list) #appending temp values to empty list

In [48]:
import pandas as pd
venue_dataframe=pd.DataFrame(complex_venue_list) #to convert the list into table format using pandas dataframe.
venue_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.

In [56]:
Venues_table=venue_dataframe.to_csv("Table4_Venues.csv", index=False) #convert dataframe into csv file.

In [57]:
#Complete code for COMPETITION DATA using try-except
import requests
import json
import pandas as pd

#Get the tennis COMPLEXES data using sports radar api
import requests
url = "https://api.sportradar.com/tennis/trial/v3/en/complexes.json?api_key=8VJ1pyztQfFytJ3kBZorxHmVXZbOlUXD8aAQsWX7"
headers = {"accept": "application/json"}

try:
    response = requests.get(url, headers=headers)
    if response.status_code ==200: # Error handling
        formatted_complexes_response=response.json() # convert json response to dictionary
        
        #parse and exract the competition's list from the response for Table 1
        complexes_list=[]  #create an empty list to store the required values for Complexes Table
        for complexes in formatted_complexes_response["complexes"]: #used for loop to access or to itrate over required values. Created a temp list and store the value
            temp_complexes_list={
                "complex_id":complexes.get("id"),
                "complex_name":complexes.get("name")
            }
            complexes_list.append(temp_complexes_list) #appending temp values to empty list
        complexes_dataframe=pd.DataFrame(complexes_list) #to convert the list into table format using pandas dataframe.
        complexes_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.
        complexes_table=complexes_dataframe.to_csv("Table3_Complexes.csv", index=False) #convert dataframe into csv file.

        #parse and exract the competition's list from the response for Table 2
        complex_venue_list=[]  #create an empty list to store the required values for Complexes Table
        for top_level_complex in formatted_complexes_response["complexes"]: ##used for loop to access or to itrate over required values. Created a temp list and store the value
            for venue in top_level_complex.get('venues', []):  #used nested for loop to access nested list
                temp_venue_list = {
                    "venue_id": venue['id'],
                    "venue_name": venue['name'],
                    "city_name": venue['city_name'],
                    "country_name": venue['country_name'],
                    "country_code": venue['country_code'],
                    "timezone": venue['timezone'],
                    "complex_id": top_level_complex['id'],
                }
                complex_venue_list.append(temp_venue_list) #appending temp values to empty list
        venue_dataframe=pd.DataFrame(complex_venue_list) #to convert the list into table format using pandas dataframe.
        venue_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.
        Venues_table=venue_dataframe.to_csv("Table4_Venues.csv", index=False) #convert dataframe into csv file.
            
        
    else:
        print(f"Error: {response.status_code} - {response.reason}") #error handling
        print(f"Error Details: {response.text}")
except requests.exceptions.RequestException as e:
    print(f"Error found: {e}")

 DOUBLES COMPETITOR RANKINGS DATA

In [4]:
#Complete code for DOUBLES COMPETITOR RANKINGS DATA using try-except
import requests
import json
import pandas as pd

#Get the tennis DOUBLES COMPETITOR RANKINGS DATA using sports radar api
url = "https://api.sportradar.com/tennis/trial/v3/en/double_competitors_rankings.json?api_key=8VJ1pyztQfFytJ3kBZorxHmVXZbOlUXD8aAQsWX7"
headers = {"accept": "application/json"}

try:
    response = requests.get(url, headers=headers)
    if response.status_code ==200: # Error handling
        formatted_doubles_response=response.json() # convert json response to dictionary
        
        #parse and exract the competition's list from the response for Table 1
        competitor_rankings_list=[]  #create an empty list to store the required values for Complexes Table
        for rankings in formatted_doubles_response["rankings"]: ##used for loop to access or to itrate over required values. Created a temp list and store the value
            for competitor_rankings in rankings.get('competitor_rankings', []):  #used nested for loop to access nested list
                temp_competitor_rankings_list = {
                    "rank": competitor_rankings['rank'],
                    "movement": competitor_rankings['movement'],
                    "points": competitor_rankings['points'],
                    "competitions_played": competitor_rankings['competitions_played'],
                    "competitor_id": competitor_rankings['competitor'].get('id')
                }
                competitor_rankings_list.append(temp_competitor_rankings_list) #appending temp values to empty list
        competitor_rankings_dataframe=pd.DataFrame(competitor_rankings_list) #to convert the list into table format using pandas dataframe.
        competitor_rankings_dataframe.index.name="rank_id"
        competitor_rankings_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.
        competitor_rankings_table=competitor_rankings_dataframe.to_csv("Table5_Competitor_Rankings.csv", index=True) #convert dataframe into csv file.

        #parse and exract the competition's list from the response for Table 2
        competitor_list=[]  #create an empty list to store the required values for Complexes Table
        for top_level_rankings in formatted_doubles_response["rankings"]: ##used for loop to access or to itrate over required values. Created a temp list and store the value
            for top_level_competitor_rankings in top_level_rankings.get("competitor_rankings", []):  #used nested for loop to access nested list
                temp_competitor_list = {
                    "competitor_id": top_level_competitor_rankings["competitor"].get("id"),
                    "name": top_level_competitor_rankings["competitor"].get("name"),
                    "country": top_level_competitor_rankings["competitor"].get("country"),
                    "country_code": top_level_competitor_rankings["competitor"].get("country_code"),
                    "abbreviation": top_level_competitor_rankings["competitor"].get("abbreviation")
                }
                competitor_list.append(temp_competitor_list) #appending temp values to empty list
        competitor_dataframe=pd.DataFrame(competitor_list) #to convert the list into table format using pandas dataframe.
        competitor_dataframe.fillna("No value",inplace=True) #used fillna method to replace NaN with customer values.
        competitor_table=competitor_dataframe.to_csv("Table6_Competitor.csv", index=False) #convert dataframe into csv file.
            
        
    else:
        print(f"Error: {response.status_code} - {response.reason}") #error handling
        print(f"Error Details: {response.text}")
except requests.exceptions.RequestException as e:
    print(f"Error found: {e}")

Create a SQL database with well-designed schema

pip install mysql-connector-python pandas --install mysql

Approach 1- Use the below script to Create a database and tables

create database if not exists SportsRadarDB; -- Create Database
use SportsRadarDB; -- Use the created database

-- Create and view Categoroies Table
create table if not exists Categories(
 category_id varchar(50) PRIMARY KEY,
 category_name VARCHAR(100) NOT NULL
 );
select * from Categories

-- Create and view Competitions Table
create table if not exists Competitions(
 competition_id varchar(50) PRIMARY KEY,
 competition_name VARCHAR(10) NOT NULL,
 parent_id VARCHAR(50) NULL,
 type VARCHAR(20) NOT NULL,
 gender VARCHAR(10) NOT NULL,
 category_id varchar(50),
 FOREIGN KEY (category_id) REFERENCES Categories(category_id)
 ); 
select * from competitions;

-- Create and view Complexes Table
create table if not exists Complexes(
 complex_id varchar(50) PRIMARY KEY,
 complex_name VARCHAR(100) NOT NULL
 ); 
select * from complexes;

-- Create and view Venues Table
create table if not exists Venues(
 venue_id varchar(50) PRIMARY KEY,
 venue_name VARCHAR(100) NOT NULL,
 city_name VARCHAR(100) NOT NULL,
 country_name VARCHAR(100) NOT NULL,
 country_code CHAR(3) NOT NULL,
 timezone VARCHAR(100) NOT NULL,
 complex_id varchar(50),
 FOREIGN KEY (complex_id) REFERENCES complexes(complex_id)
 ); 
select * from venues;

-- Create and view Competitors Table
 create table if not exists Competitors(
 competitor_id VARCHAR(50) PRIMARY KEY,
 name VARCHAR(100) NOT NULL,
 country VARCHAR(100) NOT NULL,
 country_code char(3) NOT NULL,
 abbreviation VARCHAR(10) NOT NULL
  ); 
select * from competitors;

-- Create and view Comepetitor_Rankings Table
create table if not exists Competitor_Rankings(
 rank_id int PRIMARY KEY,
 `rank` int NOT NULL, -- use (`) to specify rank is a column name but not a reserved keyword
 movement int NOT NULL,
 points int NOT NULL,
 competitons_played int NOT NULL,
 competitor_id VARCHAR(50),
 FOREIGN KEY (competitor_id) REFERENCES Competitors(competitor_id)
 ); 
select * from Competitor_Rankings;

Approach 2- Use Table Data Import Wizard from MYSQL WorkBench to create the table and insert values into it

Insert values into the tables

In [2]:
import mysql.connector
db= mysql.connector.connect(
 host= "localhost",
 user= "root",
 password='aji',
 database="tennisdatadb"
)
print(db)
mycursor = db.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000230855EF770>

Query categories and competiton table

In [39]:
#1) List all competitions along with their category name
mycursor.execute(
'''SELECT categories.category_name AS category_name, competitions.competition_name AS competition_name
FROM categories
INNER JOIN competitions ON categories.category_id = competitions.category_id limit 6000;'''
)
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [40]:
#2)Count the number of competitions in each category
mycursor.execute('''SELECT categories.category_name, COUNT(competitions.competition_name) as competition_count
FROM categories
left join competitions 
on categories.category_id=competitions.category_id
GROUP BY categories.category_name 
ORDER BY competition_count desc''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [14]:
#3)Find all competitions of type 'doubles'
mycursor.execute("select * from competitions where type='doubles'")
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [15]:
#4)Get competitions that belong to a specific category (e.g., ITF Men)
mycursor.execute('''select categories.category_id,categories.category_name,competitions.competition_id,competitions.competition_name
from categories
inner join competitions
on categories.category_id = competitions.category_id
where categories.category_name = "ITF Men" limit 6000; ''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [7]:
#5) Identify parent competitions and their sub-competitions
mycursor.execute("SELECT parent_id, category_id from competitions;")
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [9]:
#6) Analyze the distribution of competition types by category

mycursor.execute("SELECT category_id,type,count(competition_name) as count from competitions group by category_id,type;")
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [16]:
#7)List all competitions with no parent (top-level competitions)
mycursor.execute('''select competition_name,parent_id from competitions where parent_id="No value";''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

Query complexes and venues table

In [19]:
#1)List all venues along with their associated complex name
mycursor.execute('''select venues.venue_name,complexes.complex_name from venues inner join complexes on venues.complex_id = complexes.complex_id;''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [23]:
#2) Count the number of venues in each complex
mycursor.execute('''SELECT complexes.complex_name, COUNT(venues.venue_name) as venue_count
FROM complexes
left join venues 
on complexes.complex_id=venues.complex_id
GROUP BY complexes.complex_name 
ORDER BY venue_count desc;''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [26]:
#3) Get details of venues in a specific country (e.g., Chile)
mycursor.execute('''select * from venues where country_name = "Chile" or country_code = "CHL";
''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [29]:
#4) Identify all venues and their timezones
mycursor.execute('''select venue_id,venue_name,timezone from venues;
''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [32]:
#5) Find complexes that have more than one venue
mycursor.execute('''select venues.complex_id,complexes.complex_name,count(venues.venue_id) as venue_count 
from complexes 
inner join venues
on complexes.complex_id=venues.complex_id
group by venues.complex_id,complexes.complex_name having count(venues.venue_id)>1;
''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))#

In [35]:
#6) List venues grouped by country
mycursor.execute('''SELECT country_name, GROUP_CONCAT(venue_name SEPARATOR ' | ') AS venues FROM venues GROUP BY country_name;
''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [38]:
#7) Find all venues for a specific complex (e.g., Nacional)
mycursor.execute('''select complexes.complex_id,complexes.complex_name,venues.venue_name from complexes inner join venues 
on venues.complex_id = complexes.complex_id where complexes.complex_name="Tennis Club Sparta Praha"
''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

Query competitor and competitor rankings tables

In [8]:
#1) Get all competitors with their rank and points.
mycursor.execute('''select competitor.competitor_id,competitor.name,competitor_rankings.rank,competitor_rankings.points
from competitor
inner join competitor_rankings
on competitor.competitor_id=competitor_rankings.competitor_id;
''')
out=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [13]:
#2) Find competitors ranked in the top 5
mycursor.execute('''select competitor.competitor_id,competitor.name,competitor_rankings.rank,competitor_rankings.points
from competitor
inner join competitor_rankings
on competitor.competitor_id=competitor_rankings.competitor_id
where competitor_rankings.rank>="1" and competitor_rankings.rank<="5"
order by `rank`,points desc limit 5;
''')
output1=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(output1,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [16]:
#3)List competitors with no rank movement (stable rank)
mycursor.execute('''select competitor.competitor_id,competitor.name,competitor_rankings.`rank`, competitor_rankings.movement
from competitor
inner join competitor_rankings
on competitor.competitor_id=competitor_rankings.competitor_id 
where competitor_rankings.movement='0';
''')
output1=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(output1,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [9]:
#4) Get the total points of competitors from a specific country (e.g., Croatia)
mycursor.execute('''select competitor.country,count(competitor.name) as Total_Competitors_from_a_country, sum(competitor_rankings.points) as Total_Points_Scored
from competitor
inner join competitor_rankings
on competitor.competitor_id=competitor_rankings.competitor_id 
Group by competitor.country having competitor.country="India";
''')
output1=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(output1,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [7]:
#5) Count the number of competitors per country
mycursor.execute('''select country, count(name) as Competitors_per_Country from competitor group by country;
''')
output1=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(output1,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [8]:
#6) Find competitors with the highest points in the current week
mycursor.execute('''select competitor.competitor_id,competitor.name,competitor_rankings.`rank`,competitor_rankings.points as max_points_scored
from competitor
inner join competitor_rankings
on competitor.competitor_id=competitor_rankings.competitor_id
where competitor_rankings.points= (select max(points) from competitor_rankings);
''')
output1=mycursor.fetchall()
from tabulate import tabulate
#print(tabulate(output1,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))